---
title: Help End a Silent Killer of Women
---

<!-- Add your site or application content here -->
<h1>Help End a Silent Killer of Women</h1>
<p>Elyse Bila Ouedraogo won’t be celebrating Mother’s Day with her three children. She died last year from a completely preventable and treatable disease. By the time this nurse from Burkina Faso learned she had cervical cancer, it was too late to save her.</p>
